body{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container_game{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

}

.etch{
    background-color: white;
}

.container_pickers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.colorPicker_container{
    display: flex;
}